/* Importing bootstrap icons */
@import 
url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
/* =========== Global CSS ============ */
/* root : define some custom variables*/
:root {
    --grayBgColor: rgba(93, 97, 100, .4);
    --boxShadow: 2vw .5vw 2vw white; 
    --primaryFontColor: white;
    --secFontColor: dark;
    --primaryBgColor: black;
    --secondaryBgColor: rgba(82, 80, 80, .8); 
}
/* Select all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
#header {
    /* background-color: var(--primaryBgColor); */
    z-index: 20;
}
/* nav-link */
.nav-link {
    color: var(--primaryFontColor);
    line-height: 20px;
}
.nav-link:hover {
    box-shadow: 2vw 1vw 1vw var(--boxShadow);
}
/* When link is active */
a.router-link-exact-active {
    color: whitesmoke;
    background-color: rgba(47, 44, 44, 0.6);
    border-radius: 20px;
    border-bottom: 2px solid var(--boxShadow);
}
/* On scroll, change the background color of the header component.*/
.headerBgColor {
    background-color: var(--primaryBgColor);
    box-shadow: var(--boxShadow);
    color: var(--primaryFontColor);
    opacity: .7;
}
/* Table > img */
table img {
    width: 20vw;
    object-fit: cover;
}
/* v-cloak */
[v-cloak] {
    display: none;
}
/* Devices with 600px or less are targeted.  */
@media screen and (max-width: 600px) {
    .container-md {
        margin: 0;
        width: 100%;
        background-color: darkcyan; 
    }
    /* table */
}